@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');


body {
    background: linear-gradient( 70deg, rgb(2, 46, 95) 15.26%, rgb(37, 131, 238) 99%) fixed;

    
}


.container{
    color: rgb(231, 231, 231);
    background-color: rgb(4, 9, 32);
    border-radius: 15px;
    margin: 30px;
    padding: 30px;
    color: #1c1c1c;
    box-shadow: 6px 6px 10px black;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    min-width: 400px;
}



.profile{
    display: flex;
    align-items: center;
    color: #1c1c1c;
}

.title{
    margin-left: 60px;
    color: rgb(231, 231, 231);
    margin-right: 300px;
    
}

#profile-photo{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 400px;
    border: 3px solid rgb(255, 255, 255);
    margin: 10px;
    box-shadow: 0 0 15px rgb(15, 130, 184);
}

#profile-photo:hover{
    object-fit: none;
}
.title h1{
    font-weight: 700;
    font-size: 36px;
}

.title h3{
    font-weight: 400;
    font-size: 25px;
}

.logos img{
    width: 50px;
    height: auto;
    border-radius: 100%;
    align-self: flex-end;
    position: relative;
    top:-140px;
}

.logos{
    align-items: right;
}



.projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(231, 231, 231);
    list-style-type: none;
    background: linear-gradient( 70deg, rgb(3, 39, 80) 15.26%, rgb(65, 154, 196) 99%);
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-top: 30px;
    padding-bottom: 30px;
    text-align: left;
    box-shadow: 6px 6px 10px rgb(1, 49, 63);

}

#list-title{
    position: static;
    float:right;
    padding-left: 0px;
}
.projetos ul{

    font-size: 30px;
}

.projetos li{
    width: 300px;
    margin:auto;
    font-size: 25px;
    
}
a{
    color: inherit;
    text-decoration: none;
}
