@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');


body {
  font-family: 'Eczar', serif;
  min-height: 600px;
  background-color: #181a1b;
  background-image: url("https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-04-aluraflix-e-filmes.png");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;

}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
  font-size: 50px;
  padding-bottom: 10px;
}

.page-subtitle {
  color: #CED1D2;
  margin-top: 16px;
  padding-top: 10px;
  padding-bottom: 40px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.movie-poster {
color: #ffffff;
outline-style:inset;
outline-color: white;
outline-width: 3px;
border-width: 10px;
margin: 10px;
}

.input-container {
  display: inline-block;
}

.url{
  align-items: center;
  width: 700px ;
  margin-bottom: 30px;
  height: 25px;
  padding: 5px;

}

.right {
  float: right ;
  align-items: right;
  height: 25px;
}
.input-button {
  order: 0;
  color: #ffffff;
  background: #da1e26;
  font-weight: bold;
  padding: 6px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.movie-container {
  /* display: flex;
  flex-wrap: wrap; */
  max-width: 2000px;
  margin: auto;
  justify-content: left;
}

